import(stats)
import(methods)
import(Matrix)
import(SeqArray)
import(SeqVarTools)
import(Biobase)
import(genesis2tests)
importFrom(dplyr, bind_rows, inner_join)
importFrom(S4Vectors, mcols)

exportMethods("assocTestMM2", "assocTestSeq2", "fitNullModel2")
export("invNormNullModel")
